.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: rgb(81, 145, 242);
}
.label{
    background: rgb(10, 105, 239);
}

.chatbody{
    height: 50vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: right;
    background: rgb(183, 201, 231);
}

.textbox{
    height: 32px;
    width: 430px;
}
.send-btn{
    height: 36px;
    width: 70px;
}
.send-btn:hover{
    background: rgb(169, 250, 64);
}
