.container{
    display: flex;
    flex-direction: column;
    background: rgb(96, 134, 191);
}

.label{
    background: rgb(75, 121, 186);
}
.navbtn{
    justify-content: end;
    background: rgb(60, 109, 179);
}
.header{
    display: flex;
    justify-content: center;
    background: rgb(208, 84, 31);
}

.navbtn{

}



