.chatbody{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(235, 226, 218);

}

.textbox{
    height: 32px;
    width: 100%;
}
.send-btn{
    height: 36px;
    width: 70px;
}
.send-btn:hover{
    background: rgb(169, 250, 64);
}
.senderName{
    width: 100%;
    height: 30px;
    font-size: 20px;
    background: rgb(248, 163, 93);
}
.acceptMessage{
    display: flex;
    border-bottom: groove;
    width: fit-content;
    font-size: 20px;
    margin-left: 1rem;
    border-radius: 10%;
    padding: 0.2rem 1rem 0.2rem 1rem;
    background: rgb(153, 180, 248);
}
.sendMessage {
    display: flex;
    flex-direction: row;
    justify-content: right;
    border-bottom: groove;
    margin-left: auto;
    width: fit-content;
    margin-right: 1rem; 
    border-radius: 10%;
    padding: 0.2rem 1rem 0.2rem 1rem;  
    background: rgb(180, 160, 242);
    font-size: 20px;
    
}

.listdis{
    padding-left: 0px;
    width: 100%;
}
 .container3{
    display: flex;
    width: 100%;
    overflow: auto;
    flex-direction: column-reverse;
}  
.msg-time{
    margin-left: 10px;
    font-size:15px;
    color:rgb(84, 83, 83) ;
}
.defaultMsg{
    display: flex;
    flex-direction: row;
   justify-content: center;
    font-size: 30px;
    opacity: 0.5;
}
.displaySenderName{
    width: 100%;
}
.chatbodyContainer{
    width: 100%;
}
.form{
    display: flex;
    
}