.connectBar{
    width: 300px;
    height: 94vh;
    background: rgb(240, 203, 171);
}
.l1{
    display: flex;
    font-size: 25px;
    height: 36px;
    justify-content: center;
    background: rgb(219, 161, 114);
}
.aduser{
    width:290px;
    height:35px;
    font-size: 18px;
}
.addbtn{
    width:80px;
    height: 35px;
}
.addbtn:hover{
    background: rgb(169, 250, 64);
}
.errMsg{
    color: crimson;
    font-size: 16px;
}