.loginpage{
    background: rgb(242, 209, 169);
    height: 100vh;
}
.loginbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 30px;
    background: rgb(171, 142, 121);
}
.title{
    text-align: center;
    font-size: 30px;
}
.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;                                                                                                                                                                                              
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 0%; */
    width: 450px;
    height: 350px;
    background: rgb(235, 228, 188);
}
.elements{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.username{
    width: 250px;
    height: 32px;
}
.password{
    width: 250px;
    height: 32px;
}
.passlabel{
    margin-top: 10px;
}
.addUser{
    margin-top: 10px;
    width: 255px;
    height: 35px;
    font-size: 17px;
    background: rgb(246, 211, 134);
}
.addUser:hover{
    cursor: pointer;
    background: rgb(230, 200, 31);
}
.barelement{
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 70px;
    background: rgb(242, 209, 169);
}
.barelement:hover{
    cursor: pointer;
}
.loginError{
    color: crimson;
    font-size: 13px;
}

