.wrapper{
    width:100%;
    background: rgb(210, 193, 178);
    height: 100vh;
}

.signbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 30px;
    background: rgb(210, 193, 178);
}

.barele{
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 70px;
    background: rgb(235, 169, 99);
}
.signupform{
    display: flex;
    justify-content: center;

}
.smallwrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 350px;
    background: rgb(242, 237, 208);
}
.sign-label{
    /* text-align: center; */
    font-size: 30px;
    width: 130px;
  
}
.details{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.usr{
    width: 250px;
    height: 32px;
}
.pass{
    width: 250px;
    height: 32px;
}

.pin{
    width: 250px;
    height: 32px;
}


.btn{ 
    margin-top: 10px;
    width: 250px;
    height: 32px;
    background: rgb(246, 211, 134);
}
.btn:hover{
    cursor: pointer;
    background: rgb(230, 200, 31);
}
.usrName{
    color: crimson;
    font-size: 13px;
}